.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
  margin-top: 40px;
}
.edit__header {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.edit__main {
  width: 100%;
  height: auto;
}
.main__top {
  border: 1px solid rgb(184, 186, 169);
  border-radius: 20px;
  margin: 40px 0;
  padding: 50px;
  position: relative;
}
.main__header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.edit__form {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(184, 186, 169);
}
.input__name {
  grid-column: 1 / -1;
}

.edit__form label input {
  border-radius: 10px;
  border: none;
  background-color: rgb(223, 223, 223);
  height: 30px;
  margin-top: 8px;
  padding: 10px;
  width: 100%;
}

.edit__form label input:focus {
  outline: none;
  box-shadow: 0 0 5px 5px rgb(180, 176, 176);
  transition: 0.5s;
}
.edit__form label p {
  color: black;
  font-weight: 550;
}
.title__img {
  margin-top: 40px;
  color: black;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.9rem;
}
.footer__img {
  text-align: center;
}
.footer__img img {
  border-radius: 10px;
}
.show__img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.btn__delete {
  position: absolute;
  border: none;
  background-color: rgb(242, 244, 246);
  right: 424px;
  border-radius: 5px;
  cursor: pointer;
}
.delete__icon {
  fill: rgb(157, 153, 153);
  margin-top: 2px;
}
.btn__delete:hover .delete__icon {
  fill: rgb(206, 10, 10);
}
.btn__delete:hover {
  background-color: antiquewhite;
}
.image__change {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-color: rgb(235, 243, 243);
  border-radius: 10px;
  border: 2px dashed rgb(134, 134, 95);
}
.image__change svg {
  margin-top: 100px;
}
/* ================== */
.change__product {
  position: absolute;
  bottom: 10px;
  right: 30px;
  border: none;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(35, 58, 58);
  color: white;
  font-weight: 700;
}
